a {
    text-decoration: underline;
    cursor: pointer;
    display: block;
}

p {
    font-weight: normal;
    color: $white;
    font-size: .75rem!important;
    line-height: .938rem;
    margin: 0;
}
