// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Inter" !default;
$white: #FFFFFF;
$green: #00B262;
$grey: #818181;
$dark-grey: #3E4E4A;
$black: #171717;
